.forgot-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background: linear-gradient(to right, #e0f7fa, #e1bee7);
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.forgot-container h2 {
  color: #5d78cb;
  margin-bottom: 20px;
}

.forgot-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.forgot-container button {
  width: 100%;
  padding: 10px;
  background: #055d7e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
